.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
}

.gridContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin: 150px auto;
  max-width: 1200px;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 200px 0;
}
